<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <servlet>
        <servlet-name>BudgetServlet</servlet-name>
        <servlet-class>com.example.BudgetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BudgetServlet</servlet-name>
        <url-pattern>/budget</url-pattern>
    </servlet-mapping>

</web-app>
