<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <servlet>
        <servlet-name>ExpenseServlet</servlet-name>
        <servlet-class>com.tracker.ExpenseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExpenseServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>